---
# here comes env checking
#
# Check var is defined :
#
- debug: var=vars

- fail: msg="Variable '{{ item }}' is not defined"
  when: item not in vars
  with_items: 
    - install_java_alternative_path
    - install_java_apt_openjdk8_repository

